<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<display-name>Archetype Created Web Application</display-name>
	<servlet>
		<servlet-name>PurchaseApplicationServlet</servlet-name>
		<display-name>PurchaseApplicationServlet</display-name>
		<description></description>
		<servlet-class>com.purchaseapplication.servlet.PurchaseApplicationServlet</servlet-class>
	</servlet>


	<servlet-mapping>
		<servlet-name>PurchaseApplicationServlet</servlet-name>
		<url-pattern>/product.html</url-pattern>
	</servlet-mapping>
</web-app>
